NODE_ENV=development

MONGODB_URI=

JWT_SECRET=

ADMIN_EMAIL=gpriyanka17052006@gmail.com
ADMIN_PASSWORD=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=gpriyanka17052006@gmail.com
SMTP_PASSWORD=

FRONTEND_URL=
CORS_ORIGIN=
